/* Styles for the Home React component */
.user-home {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
}
.userhead {
    float: left;
    position: absolute;
    margin-left: 7%;
    width: 90%;
    height: 10%;
    padding-top: 10px;
    padding-left: 20px;
    color: darkslategrey;
}
.usernotify {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
}
.mytodoLists{
    background: white;
    float: right;
    width: 30%;
    min-height: 50%;
    border: 2px black solid;
    margin-top: 10%;
    margin-left: 40%;
    background: lightyellow;
}
.userrequest {
    position: absolute;
    width: 20%;
    margin-top: 10%;
    margin-left: 75%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  position: relative;
  top: 200px;
  left: 150px;
  transform: translate(-50%, -50%);
}

.blank {
  width: 300px;
  height: 200px;
}

.mynotification {
   float: left;
  position: absolute;
  width: 60%;
  min-height: 90%;
    margin-top: 10%;
    margin-left: 8%;
  border: 2px darkslategrey solid;
  background-color: lightyellow;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.home__bg-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-image: url("./static/home-books.jpg"); */
}

.home__button-link {
  text-decoration: none;
}

.home__button {
  width: 300px;
  height: 80px;
  border: 4px darkslategrey solid;
}

/* Increase specificity to override component styles */
.MuiButton-root.home__button:hover {
  background-color: transparent;
  border: 4px darkslategrey solid;
  border-radius: 0;
}

.home__button .MuiButton-label {
  font-size: 1.5em;
  color: darkslategrey;
}


.hidden{
  display: none;
}
